*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

./app/campick
/.idea/shelf/_______Changes_.xml
/.idea/shelf/리베이스_전에_커밋되지_않은_변경_내용_[Changes]/shelved.patch
